body {
  background-image: linear-gradient(to bottom right, rgb(0, 101, 252), rgb(255, 217, 2));
  height: 98vh;
  width:98vw;
  font-family: 'Ubuntu', sans-serif;
  overflow-y: hidden;
}

#viewport { 
  /*to maintain smooth background*/
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

button {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px grey;
}

header {
  background-color: rgba(255, 255, 255, 0.25);
  margin: 10px;
}

#game { /*full game area*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
}

#game .slot { /*each card 3D card area*/
  width: 75px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  perspective: 1000px;
}

.card { /*each card with 2 sides */
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.front{ /*anonymous side*/
  background-image: url(cardBack.png);
  background-size: cover;
}

.back{ /*hidden side, flipped upon card generation*/
  transform: rotateY(180deg);
  border: 5px solid white; */
}

.front,.back {
  /*common positioning of card faces onto card div*/
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  
}

#flipped1.card,#flipped2.card,.matched.card {
  /*action to flip a card, triggered by the class*/
  transform: rotateY(180deg);
}

@media screen and (min-width: 550px) {
/*bigger card sizes for non-mobile screens*/
  #game .slot {
    width: 150px;
    height: 200px;
  }
}

/*rest is images and it's positioning within the different cards*/
.red{
  background-image: url(https://scontent.fyvr4-1.fna.fbcdn.net/v/t31.0-8/11074394_10153290477051081_5326855389433227467_o.jpg?_nc_cat=102&ccb=2&_nc_sid=cdbe9c&_nc_ohc=8nvUTq3O7DAAX9GvnIe&_nc_oc=AQmCvM04O0BkH1B2vxhEMWvMt5jqjz0N7HVRkukqJL0lhlg4AwF5oiZxaYHuGDjH2Kw&_nc_ht=scontent.fyvr4-1.fna&oh=c3446f91a2d4b3e351f67497800d5fcd&oe=5FCADD5B);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue{
  background-image: url(https://scontent.fyvr4-1.fna.fbcdn.net/v/t31.0-8/882453_10151535040901081_1227050260_o.jpg?_nc_cat=108&ccb=2&_nc_sid=cdbe9c&_nc_ohc=WKb0K_x0FjcAX_2Ay14&_nc_ht=scontent.fyvr4-1.fna&oh=01a67cd68944bc30fae607405743db17&oe=5FCAE232);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.green{
  background: url(https://scontent.fyvr4-1.fna.fbcdn.net/v/t31.0-8/21199711_10159116557605005_6609059969931687759_o.jpg?_nc_cat=111&ccb=2&_nc_sid=cdbe9c&_nc_ohc=BR_VGK9Lfi0AX8Y_w2I&_nc_ht=scontent.fyvr4-1.fna&oh=bc358ec1627bba92c4518af6bfbca092&oe=5FCC27C6);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orange{
  background: url(https://scontent.fyvr4-1.fna.fbcdn.net/v/t31.0-8/859689_10151535041466081_832505905_o.jpg?_nc_cat=103&ccb=2&_nc_sid=cdbe9c&_nc_ohc=LRCegAflwVQAX9dSiyX&_nc_ht=scontent.fyvr4-1.fna&oh=029abda27be541f1224ffaa63a31b7e3&oe=5FCE6BCB);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple{
  background: url(https://scontent.fyvr4-1.fna.fbcdn.net/v/t31.0-8/13503111_10154281620071081_5604682267382925311_o.jpg?_nc_cat=108&ccb=2&_nc_sid=cdbe9c&_nc_ohc=0loOiT5eZIEAX_xNtOm&_nc_ht=scontent.fyvr4-1.fna&oh=c532e550f53d8c30c6bbe2b79dda2484&oe=5FCDB3AC);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}