body {
  background-image: linear-gradient(to bottom right, rgb(0, 101, 252), rgb(255, 217, 2));
  height: 98vh;
  width:98vw;
  font-family: 'Ubuntu', sans-serif;
  overflow-y: hidden;
}

#viewport { 
  /*to maintain smooth background*/
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

button {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px grey;
}

header {
  background-color: rgba(255, 255, 255, 0.25);
  margin: 10px;
}

#game { /*full game area*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
}

#game .slot { /*each card 3D card area*/
  width: 75px;
  height: 100px;
  margin: 10px;
  display: inline-block;
  perspective: 1000px;
}

.card { /*each card with 2 sides */
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-sizing: border-box;
}

.front{ /*anonymous side*/
  background-image: url(cardBack.png);
  background-size: cover;
}

.back{ /*hidden side, flipped upon card generation*/
  transform: rotateY(180deg);
  border: 5px solid white; */
}

.front,.back {
  /*common positioning of card faces onto card div*/
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  border-radius: 10px;
  
}

#flipped1.card,#flipped2.card,.matched.card {
  /*action to flip a card, triggered by the class*/
  transform: rotateY(180deg);
}

@media screen and (min-width: 550px) {
/*bigger card sizes for non-mobile screens*/
  #game .slot {
    width: 150px;
    height: 200px;
  }
}

/*rest is images and it's positioning within the different cards*/
.red{
  background-image: url(col-red.jpg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue{
  background-image: url(col-blue.jpg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.green{
  background: url(col-green.jpg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orange{
  background: url(col-orange.jpg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple{
  background: url(col-purple.jpg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}